body {background-color:black;
    text-align: center;
    
}
h1{color:#818181;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.container{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    
}
.main-text{
    display: inline-block;
    text-align: left;
}
#principal {
    margin-bottom: 10px;
}
#rate {
    margin-bottom: 15px;
}
#years {
    margin-bottom: 10px;
}
#btn {
    margin-bottom: 10px;
}
.footer{
    text-align: left;
    margin-top: 10px;
}
